/* PALLETTE  */

:root {
    --color1: #415076;
    --color2: #3221ad;
    /*DARK ICON*/
    --color3: #fff;
    /*LIGHT TEXT*/
    --color4: #07bcff;
    /*MAIN CONTRAST*/
    --color5: #7a5cff;
    /*MAIN BG LIGHT*/
    --color6: #12183a;
    --color7: #e4e1ff;
    /*THEME TEXT CONTRAST LIGHT*/
    --color8: #026bfb;
    --color9: #f6be26;
    --color10: #39d884;
    --color11: #e6604a;
    --color12: #a89ffe;
    /*THEME TEXT CONTRAST*/
    --color13: rgba(255, 255, 255, 0.6);
    --color14: #0b0c10;
    --color15: #eff6ff;
    --color16: rgba(239, 246, 255, 0.7);
    --color17: #e7edf5;
    --color18: rgba(231, 237, 245, 0.7);
    --color19: #160B6D;
    /*BODY BG*/
    --color20: rgba(22, 11, 109, 0.7);
    --color21: rgba(29, 14, 138, 0.7);
    --color22: rgba(0, 0, 0, 0.15);
    --color23: #a722f4;
    --color24: #3E2BC5;
    /*DARK ALT BG*/
    --color25: #1D0E8A;
    /*DARK ALT BG 2*/
    --color26: rgba(50, 33, 173, 0.7);
    --color27: rgba(62, 43, 197, 0.7);
    /*DARK ALT BG 3*/
    --color28: #d1e0f6;
    --color29: #dbe4f7;
    --color30: #f4f7fd;
    --color31: #394995;
    --color32: #9ac4fd;
    --color33: #fbe5a8;
    --color34: #b0efce;
    --color35: #f5bfb7;
    --color36: #0d1b61;
    --color37: #0C0E24;
    --color38: #f0f6ff;
    --color39: #28298a;
    --color40: #102486;
    --color41: #1d5ecf;
    --color42: #1b5ed1;
    --color43: #142692;
    --color44: #0075a0;
    /*OPACY LINE*/
    --color45: #aae8ff;
    --color46: #6dd8ff;
    --color47: #0087ba;
    --color48: #2d00f5;
    --color49: #3c10ff;
    --color50: #29cf77;
    --color51: #cef5e1;
    --color52: #64e09e;
    --color53: #25b96b;
    --color55: #0f084d;
    /* STICKY HEADER BG */
    --color56: #4a36d3;
    --color57: rgba(50, 33, 173, 0.8);
    /*THEME CONTRAST LIGTH*/
    --color58: var(--color19);
    --color59: #6454da;
    /*THEME CONTRAST LIGTH*/
    --color60: var(--color24);
    --color61: var(--color25);
    --color62: #5D4BD8;
    --color63: #301FA4;
    --color64: #3423B6;
    --color65: #6655df;
    /*THEME CONTRAST LIGTH 2*/



}


:root {
    --color2: #e64546;
    --color3: #fff;
    --color5: #51055E;
    --color55: #69136f;
    --color4: #31C895;
    --color66: #BCF0D8;
    --color57: #4c5c96;
    --color24: #086BA2;
    --color25: #075885;
}

:root {
    --color2: #580C0C;
    --color3: #fff;
    --color5: #8c08a2;
    --color8: #dd4047;
    --color9: #c23065;
    --color4: #e0defd;
    --color66: #5FD8AF;
    --color57: #4c5c96;
    --color24: #06517B;
    --color25: #075885;
}


/* FONTS  */

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Bold.ttf");
    font-weight: 700;
}


.theme-dark {
    background: var(--color25) !important;
}


.coin-img {
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50px rgb(0, 0, 0, 1));
    transition: transform 0.40s ease-out;
}


#roadmap-token .token-stage {
    min-width: 25%;
    max-width: 250px;
}

#roadmap-token .token-stage.done {
    box-shadow: 0px 0px 20px 5px white;
}

#roadmap-token .token-stage.coming {
    filter: brightness(0.75);
}


.vl {
    border-left: 6px solid var(--color4);
    height: 150px;
    width: 6px;
    left: 50%;
    margin: auto;
    transform: translate(-3px, 0);
}

.vl.coming {
    border-left: 4px solid var(--color44);
    width: 4px;
    transform: translate(-2px, 0);
}


.bg-theme-grad-s2 {
    background-image: linear-gradient(195deg, var(--color5) 0%, var(--color2) 100%) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 700;
}

.link-primary {
    color: var(--color8) !important;
}

.link-primary .link-icon.icon-circle {
    background-color: var(--color8);
}

.btn-grad {
    background-image: linear-gradient(to right, var(--color23) 0%, var(--color8) 100%);
}

.btn-grad:hover,
.btn-grad:before {
    /* background: radial-gradient(circle at left top, var(--color2), var(--color4)); */
    background-color: white !important;
    background-image: none;
    margin-bottom: 5px;
    color: var(--color25) !important;
}

.bg-dark {
    background: rgb(128, 27, 155);
    background: radial-gradient(circle at top, rgba(128, 27, 155, 1) 3%, rgba(230, 69, 70, 1) 25%, rgba(0, 0, 0, 1) 80%);
}

.dark-shadow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.01) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.dark-shadow-alt::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0.01) 100%);
}

.bg-theme {
    background-color: var(--color9) !important;
}

.bg-theme-dark-alt {
    background-color: var(--color5) !important;
}


.token-box-s2 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(255, 255, 255) 0px 0px 9px 0px;
}

.light-shadow {
    box-shadow: rgba(255, 255, 255) 0px 0px 9px 0px !important;
}

.neon-text {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 14px #fff,
        0 0 21px rgb(187, 0, 255);
    padding: 0.5rem;
}

.token-box-s2 {
    background-color: transparent;
}

.countdown-s4 .countdown-time {
    font-size: 3rem;
}

.token-status-s2 {
    max-width: 520px;
}

.countdown-s4 .countdown-text {
    padding-top: 1rem;
    font-size: 1.5rem;
}


/* ATROPOS  */

.cont-atropos {
    background-image: url("../images/bg_city2.png");
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 19/12;
}

.poster-text1{
    top: 5%;
    left: 5%;
    font-weight: 900;
}

.poster-text2{
    top: 53%;
    left: 44%;
    font-weight: 900;
}

.poster-text3{
    top: 5%;
    left: 75%;
    font-weight: 900;
}


/* .atropos-el-1{
    width: 200px;
    height: auto;
    max-width: 10%;
    filter: drop-shadow(0px 0px 20px black);
} */

.atropos-el-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 20px black);
}


@media (min-width: 1200px) {
    .countdown-s4 .countdown-time {
        font-size: 5rem;
    }
}