.city-img {
    filter: brightness(65%);
  
}

.coin-img {
    width: 20%;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50px rgb(0, 0, 0, 1));
    transition: transform 0.40s ease-out;
}

.coin-img:hover {}